@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menu {
    display: inline-block;
    float: right;
    &__list {
        list-style: none;
        &-item {
	    float: left;
            &-link {
		margin: 5px;
		padding: 5px;
                font-size: $typographic-base-font-size * 1.2;
                color: $typographic-base-font-color;
                font-weight: 400;
                border: 0;
                &:hover,
                &:focus {
                    color: $color-primary;
                    border-bottom: 2px solid $color-primary;
                }
                &--active {
                    color: $color-base;
                    border-bottom: 2px solid $color-base;
                }
            }
        }
    }
}

.menu__burger-input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.menu__burger-input + label {
  width: 30px;
  display: none;
  padding: 1rem 0;
  cursor: pointer;
  position: relative;
}

.menu__burger-input + label:after, .menu__burger-input + label:before,
.menu__burger-input + label .menu__burger {
  content: '';
  width: 25px;
  height: 4px;
  display: block;
  margin: 3px auto;
  border-radius: 3px;
  background-color: black;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.menu__burger-input:checked + label:before {
  -webkit-transform: translateY(2px) rotate(135deg);
  -moz-transform: translateY(2px) rotate(135deg);
  -ms-transform: translateY(2px) rotate(135deg);
  -o-transform: translateY(2px) rotate(135deg);
  transform: translateY(2px) rotate(135deg);
}

.menu__burger-input:checked + label:after {
  -webkit-transform: translateY(-12px) rotate(-135deg);
  -moz-transform: translateY(-12px) rotate(-135deg);
  -ms-transform: translateY(-12px) rotate(-135deg);
  -o-transform: translateY(-12px) rotate(-135deg);
  transform: translateY(-12px) rotate(-135deg);
}

.menu__burger-input:checked + label .menu__burger {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

@media (max-width: $layout-breakpoint-sm) {
  .menu__list {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .menu__list-item {
    margin-bottom: 0px;
    display: block;
    float: none;
    border-bottom: 1px solid $color-gray-border;
    padding: 0.5rem;
  }

  .menu__list-item:last-child {
    border-bottom: none;
  }

  .menu__list-item-link {
    margin: 0;
    padding: 1rem 1.2rem;
  }

  .menu__list-item-link:hover, .menu__list-item-link:focus {
    color: $color-black;
    border-bottom: none;
  }

  .menu__list-item-link--active {
    border-bottom: none;
  }

  .menu__burger-input + label {
    display: inline-block;
    float: right;
  }

  .menu__burger-input:checked + label {
    top: 4px;
  }

  .menu__burger-input:checked ~ .menu__list {
    display: block;
  }
}
