@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.header {
    max-width: $layout-max-width;
    margin: 0 auto;

    background: /* gradient can be an image */
      linear-gradient(
        to right, 
        white 0%,
        $color-gray-border 2%,
        $color-gray-border 98%,
        white 100%
      )
      left 
      bottom
      no-repeat; 
    background-size: 100% 1px ;/* if linear-gradient, we need to resize it */

    &__inner {
        position: relative;
        padding: 25px 20px;
	&-nav {
	}
	&-title {
	    display: inline-block;
	    font-size: 1.6875rem * 1.2;
	    font-weight: bold;
	    color: $color-base;
	    &:hover,
	    &:focus {
		color: $color-base;
	    }
	}
    }
}
